@use "./colors";

#sorting {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid colors.$pink;
  margin-left: 3rem;
}

.gallery {
  margin: 3rem;
}

.gallery__item {
  margin-bottom: 3rem;
  display: block;
  max-width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.gallery__h1 {
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.text--pink {
  color: colors.$pink;
}

.gallery__image {
  width: 100%;
  max-height: 250px;
}

.gallery__info {
  padding: 2rem;
}

.button--status {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: start;
}

.button--delete {
  background-color: rgb(243, 31, 31);
  border-radius: 3rem;
  color: colors.$white;
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 3rem 0 0 0;
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 905px) {
  .gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem;
  }

  .gallery__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    grid-template-columns: auto auto auto;
  }

  .button--status {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .button--delete {
  margin: 1rem 0 0 0;
  }
}
