@use "colors";

.hero {
  text-align: center;
  background: linear-gradient(
      rgba(231, 44, 112, 0.5),
      rgba(130, 209, 228, 0.645)
    ),
    url("../src/assets/donuts-hero.jpg") repeat scroll center center / cover;
  padding: 2rem;
  h1 {
    color: colors.$white;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 4rem 0 1rem 0;
  }
  p {
    color: colors.$white;
    font-size: 1rem;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  button {
    background-color: colors.$yellow;
    border-radius: 3rem;
    color: colors.$pink;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 2rem auto;
    display: inline-block;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-start;
  h2 {
    padding: 3rem 0 1rem 0;
    width: 50%;
  }
  img {
    width: 20rem;
    padding-top: 1rem;
  }
  p {
    padding-bottom: 1rem;
  }
  button {
    background-color: colors.$pink;
    border-radius: 3rem;
    color: colors.$yellow;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0 1rem 0;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
  }
}

@media screen and (min-width: 905px) {
  .hero {
    h1 {
      font-size: 4rem;
      padding: 6rem 0 1rem 0;
    }
  }
  .info{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .info__text{
      width: 50%;
    }
    p {
      width: 75%;
    }
    img {
      width: 21rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    h1 {
      font-size: 6.5rem;
      padding: 8rem 0 2rem 0;
    }
    p{
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
    button {
      font-size: 1.5rem;
      margin-bottom: 4rem;
    }
  }
  .info {
    padding: 4rem;
    h2{
      font-size: 1.75rem;
    }
    p {
      font-size: 1.50rem;
      width: 65%;
    }
    img {
      width: 30rem;
    }
    button {
      font-size: 1rem;
      margin-bottom: 4rem;
    }
  }
}