@use '../colors';

.nav {
    background-color: colors.$pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: colors.$white;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    image {
        width: 2rem;
    }
    img {
        width: 8rem;
    }
}
