@use "../colors";

.nav {
  background-color: colors.$pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: colors.$white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  img {
    width: 8rem;
  }
}

@media screen and (min-width: 905px) {
  .nav{
    padding: 1rem 3rem 1rem 3rem;
    .nav__links {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    padding: 1rem 8rem 1rem 8rem;
    .nav__links {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
    a {
      font-size: 1.1rem;
    }
  }
}
